*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #F2F7F2;
    color: #020300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: clamp(8px, 2vh, 36px) clamp(16px, 2vw, 64px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FF2E00;
    font-weight: 900;
}

a {
    color: #020300;
    text-decoration: underline wavy #FF2E00;
    transition: color 0.3s ease;
}

a:hover {
    color: #FF2E00;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    padding: 1rem 0;
    width: 100%;
}

textarea {
    font: inherit;
    outline: none;
    border: 0;
    background: #FF2E0011;
    border-radius: 5px;
    padding: 1%;
    width: 100%;
}

button {
    background: #FF2E00;
    color: #F2F7F2;
    outline: none;
    border: 0;
    padding: .5rem 1rem;
    font: inherit;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
}

button:hover {
    background: #020300;
}
